{% extends "blogapp/base.html" %}
{% load static %}
{% block content %}
  <div class="container" style=" height:100%;  min-height:100%; position:relative;"> 
            <div class="col-md-12">
                <div align="left">
		<br>
		  <h3 class="text-center">Our Team</h3>
                  <p>We are as a team to help the community. So we will not offer any fee for doing the security check or performing the penetration test on the application. We are available to help you solve out the security problem. </p>
                  <p>In additionally, our team also provide a security training and supporting the reproduce CVE for the newbie or research. If you would like to take the training or supporting. You also contact us. The training available is web application penetration testing.</p>
                  <p>Please don't hesitate to contact us as below information:</p>
                </div>
                <hr>
            </div>
	<div class="row">
            <div class="col-md-3 text-center">
              <div class="bg-white rounded shadow-sm py-5 px-4"><img src="/media/uploads/2021/05/31/blog-post-4.jpeg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                  <h5 class="mb-0"><a href="https://facebook.com/leiz95">Tuan Tran</a></h5>
              </div>
            </div>
            <div class="col-md-3 text-center">
              <div class="bg-white rounded shadow-sm py-5 px-4"><img src="/media/uploads/2021/05/31/blog-post-4.jpeg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                  <h5 class="mb-0"><a href="https://facebook.com/nguyentu4nanh">Anh Nguyen</a></h5>
              </div>
            </div>
            <div class="col-md-3 text-center">
              <div class="bg-white rounded shadow-sm py-5 px-4"><img src="/media/uploads/2021/05/31/blog-post-4.jpeg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                  <h5 class="mb-0"><a href="https://facebook.com/do.thanhtuan.923">Tuan Do</a></h5>
              </div>
            </div>
            <div class="col-md-3 text-center">
              <div class="bg-white rounded shadow-sm py-5 px-4"><img src="/media/uploads/2021/05/31/blog-post-4.jpeg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                  <h5 class="mb-0"><a href="https://facebook.com/0xSadBoyz">Son Quyen</a></h5>
              </div>
            </div>
	</div>
  </div>
</div>

{% endblock  %}
