{% extends "blogapp/base.html" %}
{% load static %}
{% block content %}
  <div class="container" style=" height:100%;  min-height:100%; position:relative;"> 
        <div class="row">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8 mb-6">
                  <p>We are as a team to help the community. So we will not offer any fee for doing the security check or performing the penetration test on the application. We are available to help you solve out the security problem. </p> 

               <p>In additionally, our team also provide a security training and supporting the reproduce CVE for the newbie or research. If you would like to take the training or supporting. You also contact us. The training available is web application penetration testing.</p>
                  <p>Please don't hesitate to contact us as below information:</p>
                    <main class="posts-listing col-lg-12"> 
                        <div class="container">
                          <div class="row">
                            <div class="post col-xl-6">
                                <div class="post-thumbnail"><a href="https://www.facebook.com/leiz95" method="GET"><img src="/media/uploads/2021/05/31/blog-post-4.jpeg" alt="..." class="img-fluid">
                                <div class="post-details">
                                    <hr>
                                    <h3 class="h4">Tuấn Trần</h3></a>
                                </div>
                            </div>
                              </div>
                            
                            <div class="post col-xl-6">
                              <div class="post-thumbnail"><a href="https://www.facebook.com/nguyentu4nanh" method="GET"><img src="/media/uploads/2021/05/31/blog-post-4.jpeg" alt="..." class="img-fluid">
                              <div class="post-details">
                                <hr>
                                  <h3 class="h4">Anh Nguyễn</h3></a>
                              </div>
                            </div>
                            </div>
                        </div> 
                        <div class="row">   
                            <div class="post col-xl-6">
                                <div class="post-thumbnail"><a href="https://www.facebook.com/0xSadBoyz" method="GET"><img src="/media/uploads/2021/05/31/blog-post-4.jpeg" alt="..." class="img-fluid">
                                <div class="post-details">
                                    <hr>
                                    <h3 class="h4">Sơn Quyền</h3></a>
                                </div>
                            </div>
                            </div>

                            <div class="post col-xl-6">
                                <div class="post-thumbnail"><a href="https://www.facebook.com/do.thanhtuan.923" method="GET"><img src="/media/uploads/2021/05/31/blog-post-4.jpeg" alt="..." class="img-fluid">
                                <div class="post-details">
                                    <hr>
                                    <h3 class="h4">Tuấn Đỗ</h3></a>
                                </div>
                            </div>
                            </div>
                            
                            </div>                        
                      </div></main>
                </div>
                </div>
            </div>
        </div>
    </div>

{% endblock  %}
