{% extends "blogapp/base.html" %}
{% load static %}
{% block tiltle %}
     <title>Contributor</title>     
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="{% static 'table/js/jquery.min.js' %}"></script>
        <script src="{% static 'table/js/popper.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'table/js/main.js' %}"></script>
{% endblock %}
{% block content %}
  <div class="container" style=" height:100%;  min-height:100%; position:relative;"> 
    <div class="row">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-8 text-center mb-6">
              <h2 class="heading">Contributor</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="table-wrap">
              <div align="left" corlor="red;"><p style="font-size:18px; color: black;"><strong>First of all we would like to thank you for your contributions. Thanks to those contributions, our Blog is increasingly expanding and developing in the security world. The following table is to remember the people who contributed and developed this Blog. Please contact the Admin and add what we are missing, your name will also be remembered by us. Love!</strong></p></div>
                
                <hr>
                <table class="table" style="overlow: auto;">
                  <thead class="thead-primary">
                    <tr style="background-color: #1e8bff; color: #fff;">
                      <th>TT</th>
                      <th>Name</th>
                      <th>Opinion</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Tuan Tran</td>
                      <td>Requesting for new post.</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Quyen Son</td>
                      <td>Requesting for new post.</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>Tuan Do</td>
                      <td>Requesting for new post.</td>
                    </tr>
                    <tr>
                      <th scope="row">4</th>
                      <td>Tuan Anh</td>
                      <td>Requesting for new post.</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    <div> 
  </div>
</div>
{% endblock %}