{% load static %}
<!doctype html>
<html lang="en">
  <head>
  	<title>Contributor</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{% static 'table/css/style.css' %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="robots" content="all,follow">
	</head>
	<body>
	<section class="ftco-section ftco-schedule">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Contributor-Table</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="table-wrap">
						<table class="table">
						  <thead class="thead-primary">
						    <tr>
						      <th>TT</th>
						      <th>Name</th>
						      <th>Opinion</th>
						    </tr>
						  </thead>
						  <tbody>
						    <tr>
						      <th scope="row">1</th>
						      <td>Tuan Do</td>
						      <td>Gop y tao ra app</td>
						    </tr>
						    <tr>
						      <th scope="row">2</th>
						      <td>Quyen Son</td>
						      <td>Gop y tao ra app</td>
						    </tr>
						    <tr>
						      <th scope="row">3</th>
						      <td>Tuan Tran</td>
						      <td>Gop y tao ra app</td>
						    </tr>
						    <tr>
						      <th scope="row">4</th>
						      <td>Tuan Anh</td>
						      <td>Gop y tao ra app</td>
						    </tr>
						    <tr>
						      <th scope="row">5</th>
						      <td>Ai Do</td>
						      <td>Gop y them Contributor</td>
						    </tr>
						  </tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>
	</body>
    <script src="{% static 'table/js/jquery.min.js' %}"></script>
  <script src="{% static 'table/js/popper.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'table/js/main.js' %}"></script>
</html>
