{% extends 'blogapp/base.html' %}
{% load static %}
{% block content %}
    <!-- Hero Section-->
    <section style="background: url({% static 'blogapp/img/hero.jpg' %}); background-size: cover; background-position: center center" class="hero">
      <div class="container">
        <div class="row">
          <div class="col-lg-7">
            <h1>PenTest Team.<span>Learn Web Security on Blog Vulnerable Web Application</span></h1><a href="#" class="hero-link"></a>
          </div>
        </div>
      </div>
    </section>
    <!-- Intro Section-->
    <section class="intro">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <h2 class="h3">Pratice make your perfect</h2>
            <p class="text-big">This blog is developed by small team as purpose  that sharing the knownledge and research a new thing relatve information technology fields. The almost in all topic is the security and pentesting.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="featured-posts no-padding-top">
      <div class="container">
        <!-- Post-->
        {% for item in object_list %}
        <div class="row d-flex align-items-stretch">
	{% if forloop.counter|divisibleby:2 %}
          <div class="image col-lg-5"><img src="/media/{{ item.images }}" alt="..."></div>
          <div class="text col-lg-7">
            <div class="text-inner d-flex align-items-center">
              <div class="content">
                <header class="post-header">
                  <div class="category"><a href="#">Business</a><a href="#">Technology</a></div>
		  <a href="/post/{{item.id}}"><h2 class="h4">{{ item.title }}</h2></a>
                </header>
                
                <footer class="post-footer d-flex align-items-center"><a href="#" class="author d-flex align-items-center flex-wrap">
                    <div class="avatar"><img src="/media/{{item.avatar}}" alt="..." class="img-fluid"></div>
                    <div class="title"><span>{{ item.username }}</span></div></a>
                  <div class="date"><i class="icon-clock"></i>{{ item.creat_time }}</div>
                </footer>
              </div>
            </div>
          </div>
        {% else %}
          <div class="text col-lg-7">
            <div class="text-inner d-flex align-items-center">
              <div class="content">
                <header class="post-header">
                  <div class="category"><a href="#">Business</a><a href="#">Technology</a></div><a href="/post/{{item.id}}">
                    <h2 class="h4">{{ item.title }}</h2></a>
                </header>
                
                <footer class="post-footer d-flex align-items-center"><a href="#" class="author d-flex align-items-center flex-wrap">
                    <div class="avatar"><img src="/media/{{item.avatar}}" alt="..." class="img-fluid"></div>
                    <div class="title"><span>{{ item.username }}</span></div></a>
                  <div class="date"><i class="icon-clock"></i>{{ item.creat_time }}</div>
                </footer>
              </div>
            </div>
          </div>
          <div class="image col-lg-5"><img src="/media/{{ item.images }}" alt="..."></div>
        {% endif %}
        </div>
        {%endfor%}
        <!-- Post        -->
      </div>
    </section>
    <!-- Divider Section-->
    <section style="background: url({% static 'blogapp/img/divider-bg.jpg' %}); background-size: cover; background-position: center bottom" class="divider">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h2>We are alway available to help you solve out any the security problem. If you would like to check the security on your application, please don't hesitate and contact us</h2><a href="#" class="hero-link">Contact</a>
          </div>
        </div>
      </div>
    </section>
    <!-- Latest Posts -->
    <section class="latest-posts">
      <div class="container">
        <header>
          <h2>Latest from the blog</h2>
          <p class="text-big">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </header>
        <div class="row">
          {% for item in latest %}
          <div class="post col-md-4">
            <div class="post-thumbnail"><img src="/media/{{ item.images }}" alt="..." class="img-fluid"></div>
            <div class="post-details">
              <!-- <div class="post-meta d-flex justify-content-between"> -->
                <div class="date post-meta d-flex justify-content-between">{{ item.creat_date }}</div>
               <a href="/post/{{item.id}}"><h3 class="h4">{{ item.title }}</h3></a>
              
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
    <section class="gallery no-padding">
      <div class="row">
        <div class="mix col-lg-3 col-md-3 col-sm-6">
          <div class="item"><a href="{% static 'blogapp/img/gallery-1.jpg' %}" data-fancybox="gallery" class="image"><img src="{% static 'blogapp/img/gallery-1.jpg' %}" alt="..." class="img-fluid">
              <div class="overlay d-flex align-items-center justify-content-center"><i class="icon-search"></i></div></a></div>
        </div>
        <div class="mix col-lg-3 col-md-3 col-sm-6">
          <div class="item"><a href="{% static 'blogapp/img/gallery-2.jpg' %}" data-fancybox="gallery" class="image"><img src="{% static 'blogapp/img/gallery-2.jpg' %}" alt="..." class="img-fluid">
              <div class="overlay d-flex align-items-center justify-content-center"><i class="icon-search"></i></div></a></div>
        </div>
        <div class="mix col-lg-3 col-md-3 col-sm-6">
          <div class="item"><a href="{% static 'blogapp/img/gallery-3.jpg' %}" data-fancybox="gallery" class="image"><img src="{% static 'blogapp/img/gallery-3.jpg' %}" alt="..." class="img-fluid">
              <div class="overlay d-flex align-items-center justify-content-center"><i class="icon-search"></i></div></a></div>
        </div>
        <div class="mix col-lg-3 col-md-3 col-sm-6">
          <div class="item"><a href="{% static 'blogapp/img/gallery-4.jpg' %}" data-fancybox="gallery" class="image"><img src="{% static 'blogapp/img/gallery-4.jpg' %}" alt="..." class="img-fluid">
              <div class="overlay d-flex align-items-center justify-content-center"><i class="icon-search"></i></div></a></div>
        </div>
      </div>
    </section>
    <!-- Page Footer-->
{% endblock %}
{% if xss %}
      <script>
        function validate(input) {
            let blacklist = [">","]",">","<","\""];
            for(var i = 0; i < blacklist.length; i++){
                if(input.includes(blacklist[i])){
                    alert("Remove special character");
                    return false;
                }
            }
        }
        window.addEventListener('load', (event) => {
            var tagIdParam = (new URLSearchParams(window.location.search).get('tagId'));
            validate(tagIdParam);
        });

   </script>
{% endif %}
