{% extends "blogapp/base.html" %}
{% load static %}
{% block content %}
<div class="container">
  <div class="row">
        <!-- Latest Posts -->
        
        <main class="post blog-post col-lg-8"> 
          <div class="container">
            <div class="post-single">
            {%if sql%}
              {%for x in post_render%}
                <div class="post-thumbnail"><img src="{{x.images.url}}" alt="..." class="img-fluid"></div>
                <div class="post-details">
                <div class="post-meta d-flex justify-content-between">
                <div class="category"><a href="#">Web</a><a href="#">Vulnerability</a></div>
              </div>
              <h1>{{x.title}}<a href="#"><i class="fa fa-bookmark-o"></i></a></h1>
                <div class="post-footer d-flex align-items-center flex-column flex-sm-row"><a href="#" class="author d-flex align-items-center flex-wrap">
                  <div class="avatar"><img src="{% static 'blogapp/img/avatar-ok.jpg' %}" alt="..." class="img-fluid"></div>
                    <div class="title"><span>{{x.id}}</span></div></a>
                    <div class="d-flex align-items-center flex-wrap">       
                    <div class="date"><i class="icon-clock"></i> {{x.creat_time}}</div>
                    <div class="views"><i class="icon-eye"></i> 500</div>
                    <div class="comments meta-last"><i class="icon-comment"></i>12</div>
                  </div>
                </div>
                <div class="post-body">
                <p class="lead">{{x.admin_content}}</p>
              </div>
                <div class="post-tags"><a href="#" class="tag">#Business</a><a href="#" class="tag">#Tricks</a><a href="#" class="tag">#Financial</a><a href="#" class="tag">#Economy</a></div>
                <div class="posts-nav d-flex justify-content-between align-items-stretch flex-column flex-md-row"><a href="#" class="prev-post text-left d-flex align-items-center">
                  <div class="icon prev"><i class="fa fa-angle-left"></i></div>
                    <div class="text" ><strong class="text-primary">Previous Post </strong>
                    <h6></h6>
                    </div></a><a href="#" class="next-post text-right d-flex align-items-center justify-content-end">
                    <div class="text" href=""><strong class="text-primary">Next Post </strong> 
                    <h6>.</h6>
                    </div>
                    <div class="icon next"><i class="fa fa-angle-right">   </i></div></a></div>
                <div class="post-comments">
                  <header>
                    <h3 class="h6">Post Comments<span class="no-of-comments"><h5>({{x.comment.count}})</h5></span></h3>
                  </header>
        
                  {% for comment in x.comment.all %}
                  <div class="comment">
                    <div class="comment-header d-flex justify-content-between">
                      <div class="user d-flex align-items-center">
                        <div class="image"><img src="{% static 'blogapp/img/avatar-ok.jpg' %}" alt="..." class="img-fluid rounded-circle"></div>
                        <div class="title"><strong>{{comment.author_id}}</strong><span class="date">{{comment.create_time}}</span></div>
                      </div>
                    </div>
                    <div class="comment-body" >
                    {%if xss %}
                      {{comment.content|safe|linebreaks}}
                    {%else%}
                      {{comment.content|linebreaks}}
                    {%endif%}
                    </div>
                  </div>
                {%endfor%}
                {%if user.username%}
                <div class="add-comment">
                  <header>
                    <h3 class="h6">Leave a reply</h3>
                  </header>
                  <form action="" method ="POST" class="commenting-form">
                    {% csrf_token %}
                    <div class="row">
                      {{form.content}}
                      <div >
                        <button type="submit" class="btn btn-secondary" >Submit Comment</button>
                      </div>
                    </div>
                  </form>
                {%else%} 
                <p><strong>Log in to comment now</strong></p> 
                {%endif%}
                </div>
              </div>
              {%endfor%}
            {%else%}
              <div class="post-thumbnail"><img src="{{post_render.images.url}}" alt="..." class="img-fluid"></div>
              <div class="post-details">
                <div class="post-meta d-flex justify-content-between">
                  <div class="category"><a href="#">Web</a><a href="#">Vulnerability</a></div>
                </div>
                <h1>{{post_render.title}}<a href="#"><i class="fa fa-bookmark-o"></i></a></h1>
                <div class="post-footer d-flex align-items-center flex-column flex-sm-row"><a href="#" class="author d-flex align-items-center flex-wrap">
                    <div class="avatar"><img src="{% static 'blogapp/img/avatar-ok.jpg' %}" alt="..." class="img-fluid"></div>
                    <div class="title"><span>{{post_render.id}}</span></div></a>
                  <div class="d-flex align-items-center flex-wrap">       
                    <div class="date"><i class="icon-clock"></i> {{post_render.creat_time}}</div>
                    <div class="views"><i class="icon-eye"></i> 500</div>
                    <div class="comments meta-last"><i class="icon-comment"></i>12</div>
                  </div>
                </div>
                <div class="post-body">
                  <p class="lead">{{post_render.admin_content}}</p> 
                </div>
                <div class="post-tags"><a href="#" class="tag">#Business</a><a href="#" class="tag">#Tricks</a><a href="#" class="tag">#Financial</a><a href="#" class="tag">#Economy</a></div>
                <div class="posts-nav d-flex justify-content-between align-items-stretch flex-column flex-md-row"><a href="#" class="prev-post text-left d-flex align-items-center">
                    <div class="icon prev"><i class="fa fa-angle-left"></i></div>
                    <div class="text" ><strong class="text-primary">Previous Post </strong>
                      <h6></h6>
                    </div></a><a href="#" class="next-post text-right d-flex align-items-center justify-content-end">
                    <div class="text" href=""><strong class="text-primary">Next Post </strong> 
                    <h6>.</h6>
                    </div>
                    <div class="icon next"><i class="fa fa-angle-right">   </i></div></a></div>
                <div class="post-comments">
                  <header>
                    <h3 class="h6">Post Comments<span class="no-of-comments"><h5>({{post_render.comment.count}})</h5></span></h3>
                  </header>
        
                  {% for comment in post_render.comment.all %}
                  <div class="comment">
                    <div class="comment-header d-flex justify-content-between">
                      <div class="user d-flex align-items-center">
                        <div class="image"><img src="{% static 'blogapp/img/avatar-ok.jpg' %}" alt="..." class="img-fluid rounded-circle"></div>
                        <div class="title"><strong>{{comment.author_id}}</strong><span class="date">{{comment.create_time}}</span></div>
                      </div>
                    </div>
                    <div class="comment-body" >
                    {%if xss %}
                      {{comment.content|safe|linebreaks}}
                    {%else%}
                      {{comment.content|linebreaks}}
                    {%endif%}
                    </div>
                  </div>
                {%endfor%}
                {%if user.username%}
                <div class="add-comment">
                  <header>
                    <h3 class="h6">Leave a reply</h3>
                  </header>
                  <form action="" method ="POST" class="commenting-form">
                    {% csrf_token %}
                    <div class="row">
                      {{form.content}}
                      <div >
                        <button type="submit" class="btn btn-secondary" >Submit Comment</button>
                      </div>
                    </div>
                  </form>
                {%else%} 
                <p><strong>Log in to comment now</strong></p> 
                {%endif%}
                </div>
              </div>
              {%endif%}
            </div>
          </div>
        </main>
        
        <aside class="col-lg-4">
          <!-- Widget [Search Bar Widget]-->
          <div class="widget search">
            <header>
              <h3 class="h6">Search the blog</h3>
            </header>
             <form action="{% url 'search' %}" method = "GET" class="search-form">
                
              <div class="form-group">
                    <input type="search" name="search" id="search" placeholder="What are you looking for?">
                    <button type="submit" class="submit"><i class="icon-search-1"></i></button>
              </div>
            </form>
          </div>
          <!-- Widget [Latest Posts Widget]        -->
          <div class="widget latest-posts">
            <header>
              <h3 class="h6">Latest Posts</h3>
            </header>
            {%for item in object_list%}
            <div class="blog-posts"><a href="/post/{{item.id}}">
                <div class="item d-flex align-items-center">
                  <div class="image"><img src="{{item.images.url}}" alt="..." class="img-fluid"></div>
                  <div class="title"><strong>{{item.title}}</strong>
                    <div class="d-flex align-items-center">
                      <div class="views"><i class="icon-eye"></i> 500</div>
                      <div class="comments"><i class="icon-comment"></i>12</div>
                    </div>
                  </div>
                </div></a><a href="#">
                {%endfor%}
          <!-- Widget [Categories Widget]-->
          <div class="widget categories">
            <header>
              <h3 class="h6">Categories</h3>
            </header>
            <div class="item d-flex justify-content-between"><a href="#">Growth</a><span>12</span></div>
            <div class="item d-flex justify-content-between"><a href="#">Local</a><span>25</span></div>
            <div class="item d-flex justify-content-between"><a href="#">Sales</a><span>8</span></div>
            <div class="item d-flex justify-content-between"><a href="#">Tips</a><span>17</span></div>
            <div class="item d-flex justify-content-between"><a href="#">Local</a><span>25</span></div>
          </div>
          <!-- Widget [Tags Cloud Widget]-->
          <div class="widget tags">       
            <header>
              <h3 class="h6">Tags</h3>
            </header>
            <ul class="list-inline">
              <li class="list-inline-item"><a href="#" class="tag">#Business</a></li>
              <li class="list-inline-item"><a href="#" class="tag">#Technology</a></li>
              <li class="list-inline-item"><a href="#" class="tag">#Fashion</a></li>
              <li class="list-inline-item"><a href="#" class="tag">#Sports</a></li>
              <li class="list-inline-item"><a href="#" class="tag">#Economy</a></li>
            </ul>
          </div>
        </aside>
      </div>
    </div>
    <!-- Page Footer-->
{% endblock %}
