{% extends "blogapp/base.html" %} {% load static %} {% block title %}

<title>Profile user</title>

{% endblock %} {% block content %}

<div class="container">
  <div class="row">
    <div class="row col-12">
      <h1>Profile</h1>
    </div>
    <div class="row col-12">
      <form action="" enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        <div class="form-group col-12">
          <div class="row">
            <div class="mb-3 col-4">
              <img src="{{objectProfile.avatar}}" class="rounded" alt="..." />
            </div>
            <div class="input-group mb-3 col-4">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"
                  >First Name</span
                >
              </div>
              <input
                type="text"
                class="form-control"
                value="{{objectProfile.first_name}}"
                aria-describedby="basic-addon1"
                name="first_name"
              />
            </div>
            <div class="input-group mb-3 col-4">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"
                  >Last Name</span
                >
              </div>
              <input
                type="text"
                class="form-control"
                value="{{objectProfile.last_name}}"
                aria-describedby="basic-addon1"
                name="last_name"
              />
            </div>
            <div class="input-group mb-3 col-6">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Phone</span>
              </div>
              <input
                type="text"
                class="form-control"
                value="{{objectProfile.phone}}"
                aria-describedby="basic-addon1"
                name="phone"
              />
            </div>
            <div class="input-group mb-3 col-6">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Address</span>
              </div>
              <input
                type="text"
                class="form-control"
                value="{{objectProfile.address}}"
                aria-describedby="basic-addon1"
                name="address"
              />
            </div>
            <div class="input-group mb-3 col-6">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Facebook</span>
              </div>
              <input
                type="text"
                class="form-control"
                value="{{objectProfile.facebooke}}"
                aria-describedby="basic-addon1"
                name="facebooke"
              />
            </div>
            <div class="input-group mb-3 col-6">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">github</span>
              </div>
              <input
                type="text"
                class="form-control"
                value="{{objectProfile.github}}"
                aria-describedby="basic-addon1"
                name="github"
              />
            </div>
            <div class="input-group mb-3 col-6">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">twitter</span>
              </div>
              <input
                type="text"
                class="form-control"
                value="{{objectProfile.twitter}}"
                aria-describedby="basic-addon1"
                name="twitter"
              />
            </div>
            <div class="input-group mb-3 col-6">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Status</span>
              </div>
              <input
                type="text"
                class="form-control"
                value="{{objectProfile.status}}"
                aria-describedby="basic-addon1"
                name="status"
              />
            </div>
          </div>
        </div>
        <div class="form-group col-12">
          <div class="input-group mb-3 col-4">
            <label>Input Config file</label>
            <input type="file" class="form-control-file" name="xmlfile" />
          </div>
          <input class="btn btn-primary" type="submit" value="Update" />
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
