{% extends "blogapp/base.html" %} {% load static %} {% block title %}

<title>Request A New Post</title>

{% endblock %} {% block content %}


<div class="container">
  <br />
  <h1 class="text-center">Requesting for new posts</h1>
  <br />
  <br />
  <div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a onclick="myFunction(this)" id="a1" value="url" class="nav-link"
            >URL</a
          >
        </li>
        <li class="nav-item">
          <a onclick="myFunction(this)" id="a2" value="xml" class="nav-link"
            >XML file</a
          >
        </li>
        <li class="nav-item">
          <a id="a3" onclick="myFunction(this)" value="preview" class="nav-link"
            >Requested</a
          >
        </li>
      </ul>
    </div>
    <div class="card-body">
      <div id="notification">
        <h5 class="card-title">Attention</h5>
        <p class="card-text">
          If you want to post an article, you can share it with us via
          <strong>URL</strong> or via <strong>XML file</strong> format by choose
          an option above.
        </p>
        <p class="card-text">
          The article will be considered by admin before it is made public and
          it will be posted on our blog page and show some your information as
          author. We will notify you when it is accepted.
        </p>
        <p class="card-text">Thank you!</p>
      </div>
      <form style="display: none" id="url" class="text-center" method = "POST">
      {% csrf_token %}
        <div class="form-group">
          <label for="exampleFormControlFile1"><h4>Via url</h4></label>
           <input
            name="crawl" 
            style="display: block"
            type="url"
            class="form-control"
            id="inputurl"
            placeholder="Enter an url to preview"
          />
        </div>
        <button type="submit" class="btn btn-primary text-center">
          Submit
        </button>
      </form>
      <form
        method="POST"
        style="display: none"
        id="xml"
        class="text-center"
        enctype="multipart/form-data"
      >
        {% csrf_token %}
        <div class="form-group">
          <label for="exampleFormControlFile1" style="display: block"
            ><h4>Via xml file</h4></label
          >
          <br />
          <input
            type="file"
            style="display: inline; margin-left: 110px"
            class=""
            id="exampleFormControlFile1"
            name="xmlfile"
          />
        </div>
        <button type="submit" class="btn btn-primary text-center">
          Submit
        </button>
      </form>
      <div class="row" style="display: none" id="preview" class="text-center">
        <div class="col-sm-12">
          <table
            class="col-sm-12 table"
            id="request_list"
            role="grid"
            align="center"
          >
            <thead class="thead-dark">
              <tr role="row">
                <th scope="col">ID</th>
                <th scope="col">Title</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              {% for item in object_list %}
              <tr>
                <td scope="row">{{item.id}}</td>
                <th><a href="/preview/{{item.id}}">{{item.title}}</a></th>
                <td class="text-warning">Pending</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  function myFunction(clicked) {
    var a1 = document.getElementById('a1');
    var a2 = document.getElementById('a2');
    var a3 = document.getElementById('a3');
    var x = document.getElementById('url');
    var y = document.getElementById('xml');
    var t = document.getElementById('preview');
    var z = document.getElementById('notification');
    var selected = clicked.getAttribute('value');
    if (selected == 'url') {
      a1.style.background = 'black';
      a1.style.color = 'white';
      x.style.display = 'block';
      a2.style.color = 'black';
      a2.style.background = 'none';
      y.style.display = 'none';
      a3.style.color = 'black';
      a3.style.background = 'none';
      t.style.display = 'none';
      z.style.display = 'none';
    } else if (selected == 'xml') {
      a2.style.background = 'black';
      a2.style.color = 'white';
      y.style.display = 'block';
      a1.style.color = 'black';
      a1.style.background = 'none';
      x.style.display = 'none';
      a3.style.color = 'black';
      a3.style.background = 'none';
      t.style.display = 'none';
      z.style.display = 'none';
    } else if (selected == 'preview') {
      a2.style.background = 'white';
      a2.style.color = 'black';
      y.style.display = 'none';
      a1.style.background = 'white';
      a1.style.color = 'black';
      x.style.display = 'none';
      a3.style.background = 'black';
      a3.style.color = 'white';
      t.style.display = 'block';
      z.style.display = 'none';
    } else {
      t.style.display = 'none';
      x.style.display = 'none';
      y.style.display = 'none';
      z.style.display = 'block';
    }
  }
</script>
{% endblock %}
