asgiref
autopep8
pycodestyle
pytz
sqlparse
Unipath
python-decouple
dj-database-url
whitenoise
gunicorn
django-heroku
django-bmemcached==0.3.0
Django>=3.0,<4.0
psycopg2-binary>=2.8
pillow==8.2.0
django-adminlte3
django-ckeditor
pymemcache
pyjwt
django-crispy-forms
cryptography
paramiko
lxml
requests
bs4
html5lib
defusedxml
